@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
  }
  body {
    @apply antialiased bg-gray-50;
    user-select: none;
    -webkit-user-select: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
